{% extends 'registration/baseLogin.html' %}
{% block content %}

<div class="container">
    
      <h1>Área do Cliente</h1>

      <div class="alert alert-primary" role="alert">
          Seja bem-vindo(a) {{ user.get_full_name }}!
          Seu saldo é: R${{user.saldo}} <a href="">saque</a> / <a href="">depositar</a>
      </div>
      <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
<br>
<br>
<br>
      <h2>Minhas Moedas</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Moeda</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Data da Compra</th>
          </tr>
        </thead>
        <tbody>

          {% for m in moedas_ativas %}
            
          <tr>
            <th scope="row">{{m.moeda}}</th>
            <th scope="row">{{m.quantidade_moeda}}</th>
            <td colspan="2">{{m.criado}}</td>
          </tr>

          {% endfor %}
          
        </tbody>
      </table>


      <table class="table"><thead><th><a class="btn text-dark" data-toggle="collapse" href="#collapseTable" role="button" aria-expanded="false" aria-controls="collapseExample"><h2>Minhas Solicitações de Venda ▾</h2></a></th></thead></table>



      <div class="collapse" id="collapseTable">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Moeda</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Valor (R$)</th>
            <th scope="col">Solicitado Em</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>       
          
          {% for m in solicitacoes_venda %}
          
            
            {% if m.status_venda == 'waiting' %}<tr class="table-warning">{% elif m.status_venda == 'done' %}<tr class="table-success">{% endif %}
            <th scope="row">{{m.moeda}}</th>
            <th scope="row">{{m.quantidade_venda}}</th>
            <th scope="row">{{m.valor_reais_venda}}</th>
            <td colspan="2">{{m.criado}}</td>
            {% if m.status_venda == 'waiting' %}<td colspan="2">Venda Solicitada</td>{% elif m.status_venda == 'done' %}<td colspan="2">Vendido</td>{% endif %}            
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>

</div>

{% endblock %}